  <div class="container mt-4">
    <mat-grid-list cols="3" rowHeight="2:3" gutterSize="20">
        <mat-grid-tile><img src="../../assets/Juices.webp" ><div class="product-details">THE RECOVERY ONE</div><button class="btn btn-dark btn-lg position-absolute" routerLink="/customer">Order</button></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/avacado.webp"><button class="btn btn-dark btn-lg position-absolute" routerLink="/customer-list">Order</button></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/bowl.webp"><button class="btn btn-dark btn-lg position-absolute" >Order</button></mat-grid-tile>
      </mat-grid-list>
  </div>