.customer-list {
    margin-top: 0.5%;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.example-button-container button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    font-size: 16px;
}
.dropdown{
    margin-top: 50px;
}
.search
{
    margin-top:-80px;
}